* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-height: 100vh;
  background-color: #fef3ed;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  position: relative;
}

.title {
  color: #073c3d;
  font-weight: bold;
  font-size: 1.5rem;
}

.links {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav .links button {
  background-color: transparent;
  color: #073c3d;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.call {
  background-color: #fdfffd;
  color: #073c3d;
  border: 1px solid #073c3d;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

hr {
  height: 1px;
  width: 95%;
  background-color: rgba(228, 228, 228, 0.925);
  border: none;
}

.header {
  color: #073c3d;
  font-size: 3.5rem;
  width: 50rem;
  text-align: center;
}

#content {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#content img {
  width: 70rem;
  height: 30rem;
}
